h1{
    color:pink;
    background-color:plum;
    font-style: italic;
}
h2{
    color:orange;
    background-color:yellow;
}
h3{
    color:turquoise;
    background-color: bisque;
}
h4{
    color:chartreuse;
    background-color:lightcoral;
}
h5{
    color:greenyellow;
    background-color: grey;
}
body{
    text-align: center;
}
h1, p{
    color:lightcoral;
} 
*{
    color:crimson
}

